@media (max-width: 1024px) and (min-width: 763px) {
    #search{
        width: 100%;
    }

    #category{
        width: 100%;
        border: 0;
    }

    /* .cat2 li{
        width: 10%;
        text-align: center;
    } */

    /* #category li a{
        display: inline;
    } */
    

    .textbox > .timkiem{
        max-width: 250px;
    }

    .videoapple{
        display: none;
    }
    .banner {
        margin-top: 20px;
        width: 100%;
        height: 50%;
    }
    .smallbanner li{
        width: 22%;
    }

    .smallbanner li img{
        width: 100%;
        padding: 10px;
    }
    .saleproduct{
        margin-left: 50px;
    }

    .laptopbanner a img{
        width: 100%;
    }

    .container{
        width: 100%;
        margin-bottom:200px
    }

    /* .container .phone-item{
        width: 20%;
        height: 300px;
    }

    .container .phone-item .buynowbtn button{
       width: 100%;
       margin-bottom: 10px;
    } */

    .laptopContainer{
        width: 100%;
        margin-bottom:200px;
        margin-top: 40px;
    }

    .laptopContainer .laptop1{
        width: 20%;
        height: 300px;
    }

    .laptopContainer .laptop1 .buynowbtn button{
        width: 100%;
        margin-bottom: 10px;
    }

    .end_page1{
        width: 90%;
        min-width: 600px;
        margin-top: -150px;

    }

    /* footer */

    .end_page1 span{
        font-size: 12px;
    }

    .end_page1 .corevalue i{
        font-size: 40px;
    }

    .subscript{
        width: 100%;
    }

    .form input{
        width: 240px;
        /* margin-right: 100px; */
        position: relative;
        z-index: 1;
    }

    .form button{
        margin-right: 100px;
        z-index: 1;
    }

    .row{
        width: 90%;
        min-width: 600px;
    }

    .row .boxfooter5 img{
        width: 60px;
    }

    .row .boxfooter6 .icon-list .ghn{
        width: 60px;
        height: 30px;
    }

    .row .boxfooter6 .bct{
        width: 120px;
    }

          /* iPhone 15  */
          .image-container img{
            width: 200px;
            height: 200px;
          }
        
          .product-information{
            width: 404px;
          }

          .iphone-container-2{
            width: 90%;
            min-width: 736px
          }

          .iphone-container{
            padding-left: 20px;
          }

        .iphone-container-3{
            display: block;
        }

        .container-left{
            width: 100%;
            margin-bottom: 20px;
          }
        .container-right{
            margin-bottom: 200px;
        }



  }


  @media (max-width: 763px){

    body{
        font-size: 11px;
    }
    #search{
        width: 100%;
    }

    .textbox > .timkiem{
        max-width: 170px;
    }

    .logo img{
        width: 120px;
    }

    .signin{
        width: 70px;
    }


    /* category */

    #category{
        width: 100%;
        border-radius: 0;
    }

    .videoapple{
        display: none;
    }

    .banner{
        width: 100%;
        height: 100%;
        margin-top: 15px;
        border-radius: 0px;
    }
    
    

    .smallbanner li{
        width: 22%;
    }

    .smallbanner li img{
        width: 120px;
        height: 90px;
        padding: 10px;
    }

    .container{
        width: 100%;
        margin-bottom: 200px
    }

    /* .container .phone-item {
        width: 40%;
        height: 300px;
    }

    .container .phone-item .img img{
        width: 140px;
        height: 140px;
    }

    .container .phone-item .buynowbtn button{
       width: 100%;
       margin-bottom: 10px;
    } */

    .laptopbanner img{
        margin-top: 660px;
        width: 100%;
    }
    
    .laptopContainer{
        flex-wrap: wrap;
        width: 100%;
    }

    .saleproduct{
        margin-left: 5%;
    }

    .end_page1{
        margin-top: 300px;
        width: 100%;
        min-width: 400px;
        box-sizing: border-box;
    }

    .corevalue{
        flex-wrap: wrap;
    }

    .corevalue .item{
        width: 50%;
        justify-content: flex-start;
    }

    .subscript{
        flex-direction: column;
    }

    .row{
        width: 100%;
        /* width: 600px; */
        min-width: 400px;
        box-sizing: border-box;
    }

    .boxcenter1{
        flex-wrap: wrap;
    }

    .boxfooter{
        width: 50%;
        text-align: center;
    }

  }


  /* For iPhone 15 */

  @media (max-width: 600px) and (min-width: 400px){
    .iphone-container{
        min-width: 400px;
        width: 600px;
    }
    .product-information{
        margin: 0 auto;
    }

    .image-container .slide{
        margin: 0 auto;
    }

    .details-product{
        display: block;
        justify-content: center;
    }

    .product-shop{
        margin: 0 auto;
        margin-top: 20px;
    }


    .iphone-container-3{
        display: block;
        min-width: 400px;
        width: 600px;
    }

    .img-iphone img{
        width: 100%;
    }

    .container-left img{
        width: 100%;
    }

    .container-left p{
        font-size: 12px;
    }

    .container-left{
        box-sizing: border-box;
        width: 100%;
    }

    .container-right{
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
        box-sizing: border-box;
    }
  }


