*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4f4f4;
    /* background-image: linear-gradient(
        to right, 
        rgba(0,0,0, 0.5),
        rgba((0,0,0, 0.5)   
        ),
        url(/IMG/18731150.jpg)
    ); */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    width: 1em;
}

body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
#header{
    text-align: center;
    background-color: black;
    /* position: fixed;
    width: 100%;
    z-index: 1; */
    /* margin-top: -20px; */
}

#header li{
    display: inline-block;  
    /* position: relative; */
}

.list_child{
    z-index: 3;
    display: none;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 125px;
    color: white;
}

.list_child li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
    

.nav li:hover .list_child {
    display:block;
    cursor: pointer;
}

.nav .list_child{
    position: absolute;
}


#header li a{
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 24px;
    width: 100%;
    height: 100%;
}

.logo{
    margin: 0 auto;
}

#search{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    /* width: 1520px; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(19,25,33);
    margin: auto;
    align-items: center;
}

.textbox input[type="text"]{
    height: 50px;
    width: 960px;
    border-radius: 10px;
    position: relative;
    left: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}

.searchbtn{
  height: 45px;  
  width: 45px;
  border-radius: 30px;
  margin-left: 15px;
  position: relative;
  right: 42px;
  background-color: black;
  cursor: pointer;
  animation: 0.5s;
}
.searchbtn:active {
    transform:translateY(-10px);
}
.searchbtn:hover{
    background-color:  wheat;
}

.cart{
    font-size: 40px;
    margin-right: 50px;
    /* padding-top: 5px; */
    position: relative;
    right: 10px;
}

.cart:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.signin{
    height: 50px;
    padding: 5px 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    position: relative;
    right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Acc{
    text-decoration: none;
    color: white;
}

#category{
    text-align: center;
    background-color: black;
    margin: auto;
    background-size: cover;
    background-position: center;


}

#category li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

#category li a{
    font-size: 24px;
    text-decoration: none;
    line-height: 46px;
    padding: 25px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 5px;
}

.cat2{
    padding: 0;
}

.latest-gift-line{
    margin-left: 140px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
}

.line{
    margin: 20px 0px;
}

.line h2{
    color: #e30000;
}

.line h2 span{
    color: #6e6e73;
}

.bannerwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
}

.banner{
    position: relative;
    margin: 0 auto;
    display: flex;
    transform: scale3d(1.01,1.01,1.01);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.banner .text{
    position: absolute;
    top: 5%;
    left: 7%;
    line-height: 35px;
}

.banner .img img{
    border-radius: 20px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.16);
}

.banner:hover{
    transform: scale(1);
}



.wrappervideo{
    position: relative;
    width: 100%;
    background-color: black;
    padding: 30px 0px;
}

.wrappervideo .text{
    /* position: absolute; */
    color: white;
    color: #9D988F;
    text-align: center;
    width: 100%;
    animation: move-up 1s ease-in-out;
    /* user-select: none; */
}

.wrappervideo .buy-btn{
    color: white;
    text-align: center;
    position: relative;
    margin-top: -50px;
    animation: move-up 1s ease-in-out;
}

.wrappervideo .buy-btn button{
    background-color: #0071E3;
    border: none;
    border-radius: 30px;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.wrappervideo .buy-btn button:hover{
    opacity: 0.8;
}


.videoapple{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-top: 20px; */
    position: relative;
    animation: move-up 1s ease-in-out;
}

@keyframes move-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }


    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.smallbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;

}

.smallbanner li{
    display: inline-block;
    padding: 5px;
}

.smallbanner li a{
    width: 100%;
    height: 100%;
}

.smallbanner li img{
    border-radius: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.button li button{
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-right: 5px;
    background: linear-gradient(to right, #027ed0, #077077);
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.button li button:hover{
    background: linear-gradient(to right, #1ed479, #077077);
}

.nav li:hover{
    background-color: orange;
}



#category li:hover{
    background: linear-gradient(to right, #1c1c1c, #383838);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.signin:hover{
    background-color: orange;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 1200px;
    border-radius: 10px;
    height: 520px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}

.phone-item{
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    /* height: 259px; */
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 20px 40px;
    margin: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 11px;
}

.phone-item img{
    transition-duration: 0.5s;
    padding-bottom: 15px;
}


.phone-item .img img{
    height: 150px;
}

.phone-item .img img:hover {
    transform: scale(1.1);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.1);
        /* Mozilla Firefox */
        -moz-transform: scale(1.1); 
        /* Opera */
        -o-transform: scale(1.1);
        /* IE 9 */
        -ms-transform: scale(1.1);
    cursor: pointer; 
}

.phone-item .img > a{
    display: flex;
    justify-content: center;
}

.laptop1 a{
    justify-content: center;
    display: flex
}   

.laptop1 img{
    transition-duration: 0.5s;
}


.price{
    text-align: center;
    line-height: 24px;
}

.buynowbtn{
    display: flex;
    justify-content: space-evenly;
}

.laptop1 .img img:hover{
    transform: scale(1.2);
    /* Safari & Google Chrome */
    -webkit-transform: scale(1.2);
    /* Mozilla Firefox */
    -moz-transform: scale(1.2); 
    /* Opera */
    -o-transform: scale(1.2);
    /* IE 9 */
    -ms-transform: scale(1.2);
    cursor: pointer; 
}

.sticker1{
    position: absolute;
    display: flex;
    padding: 0px;
    top: -30px;
    right: -20px;
}



.name a{
    text-decoration: none;
    color: black;
    line-height: 24px;
}

.name a:hover{
    color: blue;
}



.sticker2{
    position: absolute;
    display: flex ;
    padding: 0px;
    top: -30px;
    right: -20px;
}

.parent-saleproduct{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.saleproduct{
    width: 100px;
    height: 25px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    /* margin: 0 auto; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 11px;
    border-radius: 10px;
    font-size: large;
    background-size: cover;
    background-position: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buynowbtn{
    padding-top: 10px;

}

.buynowbtn{
    width: 100%;
}
.buynowbtn button{
    padding: 1px 5px 1px 5px; /*Trên, phải, dưới, trái */
    background-color: #e8f1f1;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 11px;
    border: none;   
}

.buynowbtn button:hover{
    background: rgb(255, 255, 255);
}

.phone-item:hover{
    background: rgb(255, 254, 254);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.laptopContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1200px;
    border-radius: 10px;
    height: 300px;
    flex-wrap: wrap;
    margin-bottom: 300px;
}

.laptop1{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 9px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    text-decoration: none;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.namelaptop1 a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 27px;
}

.namelaptop1 a:hover{
    color: blue;
}

.namelaptop1{
    text-align: center;
}

.laptop1:hover{
    background: rgb(255, 250, 250);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.laptopbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

.laptopbanner img{
    border-radius: 10px;
}

.name{
    text-align: center;
}

.contact{
    width: 40px;
    height: 44px;
    border-radius: 100px;
    background-color: white;
    position: fixed;
    top: 80%;
    right: 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.phone{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: linear-gradient(to right, #e9eeef,  #0fe3e3);
    position: fixed;
    top: 70%;
    right: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contact:hover{
    cursor: pointer;
    background: linear-gradient(to right, #eaebec, #ffffff);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.2)
}

.phone:hover{
    cursor: pointer;
    background: linear-gradient(to right, #2fe2ef, #ffffff);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.2)
}



.row-footer{
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
    font-size: 13px;
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    background: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}



.boxcenter1{
    margin-top: 20px;
    display: flex;
}

.boxfooter{
    padding-top: 20px;
    width: 16.6666%;
}


.textcenter{
    text-align: center;
}

.colorc{
    color: white;
}


.mrb10{
    margin-bottom: 10px;
}

.ftop{
    padding-top: 20px;
}

h4{
    font-size: 15px;
}

.hotline{
    display: inline-block;
    font: Bold 18px/18px -apple-system,BlinkMacSystemFont,'Segoe UI';
    color:#00483d;
    background-color: white;
    padding: 6px 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.icon-list{
    margin-top: 15px;
    list-style:none ;
}

.bct{
    margin-top: 15px;
}

.info1{
    margin-top: 10px;
}

.BITC{
    margin-top: 20px;
}

/* .audiobg{
    display: none;
} */


.end_page1{
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-size: 13px;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
    border-radius: 10px;
}

.corevalue{
    display: flex;
    padding: 10px 60px;
    margin: 20px 0;
}


.corevalue .item{
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.core-icon{
    font-size: 60px;
    margin-right: 10px;
}

.corevalue .item .core-text{
    font-size: 16px;
    text-align: left;
}

.subscript{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
}

.icon-text{
    display: flex;
    margin-right: 30px;
}

.icon-text img{
    margin-right: 30px;
}

.icon-text .text{
    padding-top: 50px;
    text-align: center;
}

.icon-text .text h4{
    font-size: 18px;
    margin-bottom: 0;
}

.form{
    display: flex;
}

.form input {
    background: #e6e6e6;
    padding: 15px 10px;
    width: 300px;
    border-radius: 15px;
    border: none;
}

/* .form .input input{
    width: 250px;
    background: none;
    border: none;
} */

.form button{
    background: black;
    border-radius: 15px;
    width: 50px;
    font-size: 25px;
    margin-left: -50px;
}

.form button:hover{
    cursor: pointer;
    background: #2cbe92
}

.Rick{
    margin-top: 20px;
}

.displaytime{
    background-color: white;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}